@page "/"
<div class="red-gradient vh-100 vw-100">

    <TabTopBar GifModeSelected="true" />
    <div class="w-100 image-display text-center">
        <img src="@focusedImage" />
    </div>


    <div class="settings-panel">
        @if (focusedIndex > -1)
        {
            <input type="number" min="1" max="@list.Count" @onchange="ChangePosition" id="positionInput" class="input-group-text input-group-sm mx-auto" value="@(focusedIndex+1)" />


            <div class="mx-auto">

                <div class="input-group input-group-sm">
                    <input type="number" id="delayInput" @onchange="ChangeDelay" class="input-group-text input-group-sm" value="@list[focusedIndex].DelayInMs" aria-describedby="basic-addon2" />
                    <div class="input-group-append">
                        <span class="input-group-text input-group-sm" id="basic-addon2">ms</span>
                    </div>

                </div>
            </div>
        }
    </div>
    <div class="bottom-panel w-100">


        @for (int i = 0; i < list.Count; i++)
        {
            if (i == focusedIndex)
            {

                <ImageComponent DeleteClick="DeleteImage" ImageSource=@(list[i].ImageUrl) Position=@i OnImageClick="ChangeFocus" isFocused="true" />
            }
            else
            {
                <ImageComponent DeleteClick="DeleteImage" ImageSource=@(list[i].ImageUrl) Position=@i OnImageClick="ChangeFocus" />
            }
        }
        <div class="add-btn">

            <div class="fileUpload h-100">
                <label class="text-center">Add new</label>
                <InputFile OnChange="AddFile" class="upload" id="uploadBtn" accept="image/*" />
                @*<input id="uploadBtn" type="file" class="upload" />*@
            </div>

        </div>


    </div>
    
    <div class="preview-btn" @onclick="MakeGif">Preview</div>


</div>
