@page "/preview"

<div class="w-100 h-50 text-center">
    <img src="@GifBlob" />
</div>
<div class="bottom-panel w-100">

    <div>
        <p>asdasd</p>
        <p>Dlusogs:21</p>
        <p>y</p>
    </div>

</div>
<div class="preview-btn" @onclick="BackToEdit">Edit</div>
<div class="preview-btn" @onclick="Save">Save</div>

