<div class="bottom-panel-card" >



    <img @onclick=ImageClicked src=@ImageSource />

    <span class="@CssClass">@(Position + 1)</span>
    <span class="delete-circle" @onclick="DeleteImage">X</span>

</div>
@code {
    [Parameter]
    public int Position { get; set; }
    [Parameter]
    public string ImageSource { get; set; }
    [Parameter]
    public EventCallback<int> OnImageClick { get; set; }
    [Parameter]
    public bool isFocused { get; set; }
    [Parameter]
    public EventCallback<int> DeleteClick { get; set; }

    private string CssClass => isFocused ? "position-circle focused" : "position-circle";

    public async Task ImageClicked()
    {
        await OnImageClick.InvokeAsync(Position);
    }
    public async Task DeleteImage()
    {
        await DeleteClick.InvokeAsync(Position);
    }
}
