@inject IJSRuntime js;
@inject NavigationManager NavigationManager;
<div class="tab-bar">

    <div class="@GifCssClass" @onclick="GifClicked">
        <p class="m-auto">GIF</p>
    </div>
    <div class="@SfxCssClass" @onclick="SfxClicked">
        <p class="m-auto">SFX</p>
    </div>

</div>
@code {

    [Parameter]
    public bool GifModeSelected {get; set;}
    public string GifCssClass
    {
        get => GifModeSelected ? "tab orange" : "tab cyan-dark";
    }
    public string SfxCssClass
    {
        get => GifModeSelected ? "tab orange-dark" : "tab cyan";
    }
    public void GifClicked()
    {
        NavigationManager.NavigateTo("/Pam/");
    }
    public void SfxClicked()
    {
        NavigationManager.NavigateTo("/Pam/sfx");
    }
}
